
#title{
  font-family: Helvetica, Arial, sans-serif;
}
.movie .movie_movies  {
    text-align: center;
    color:black;
    background: #d4cdcd;
    margin-bottom: 100px;
}
.movie .movie_movies #title {
  text-align: center;
  color:red;
}
.loader {
  position: absolute;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  top:50%;
  left:50%;
  height:400px;
  width:400px;
  margin:-150px 0px 0px -200px;
}