.todo-list-template {
   width: 500px;
    background: #fff;
    margin: 130px auto;
    position: relative;
    margin-top: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }
  .title {
    padding: 2rem;
    font-size: 1.5rem;
    font-weight: 100;
    color: black;
  }
  .title #main{
    color:red;
    margin-left: 49%;
  }
  .form-wrapper {
    padding: 1rem;
    border-bottom: 1px solid #7b22cf;
  }
  .todos-wrapper {
    min-height: 5rem;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #d4cdcd;
  }